* {
    box-sizing: border-box;
}

header {
    background-color: #EEEEEE;
    padding: 20px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-wrapper h1 {
    font-size: 24px;
}

.header-wrapper a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-logout {
    margin-left: auto;
}

.sticky-top {
    padding-bottom: 0;
}
