
/* CSV保存ボタン */
#output_file {
    background-color: #007BFF;
    display: inline-block;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 46px;
    border-radius: 4px;
    border: solid 1px #FFFFFF;
    cursor: pointer;
    width: 160px;
    height: 46px;
    text-align: center;
}
